---
import { getPostTags, tagHref } from "../utils/posts";

interface Props {
  tags: string[];
}

const tags = getPostTags(Astro.props.tags);
---

{
  tags.length > 0 && (
    <ul class="inline-tags" aria-label="标签">
      {tags.map((tag) => (
        <li>
          <a href={`/tags/${tagHref(tag)}/`}>{tag}</a>
        </li>
      ))}
    </ul>
  )
}
